In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final.xlsx

In [4]:
def dropD(df):
    return df.drop_duplicates()
    
def getAllInfo(df):
    
    #print(df.shape)
    
    #print(df.info())
    
    #print(df.isna().sum())
    
    df_tmp=pd.DataFrame( df.isna().sum() )
    
    return (  df_tmp[  (df_tmp.iloc[:,0]>0) ].index )

def replaceNa(df,k):
    
    if type(df[k]) not in ( 'int64' ,'float64' ):
        df[k].fillna("NO VALUE",inplace=True)
    else:
        df[k].fillna(0,inplace=True)

In [5]:
df0= pd.read_excel("/kaggle/input/kpmg-dataset/KPMG_VI_New_raw_data_update_final.xlsx" ,
                       sheet_name='Transactions',header=1)
    
df0.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [6]:
df1=dropD(df0)
print(str(df1.shape)+"  "+str(df0.shape) )
    
    
df2=pd.Series( getAllInfo(df1) )
print(type(df2))
print(df2)
    
for k in df2:
    replaceNa(df1,k)
    
print(getAllInfo(df1))
print(df1.info())

(20000, 13)  (20000, 13)
<class 'pandas.core.series.Series'>
0               online_order
1                      brand
2               product_line
3              product_class
4               product_size
5              standard_cost
6    product_first_sold_date
dtype: object
Index([], dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    20000 non-null  object
 7   product_line             20000 non-null  object
 8   product_class            20000 non-null  object
 9   product_size             20000 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            20000 non-null  object
 12  product_first_sold_date  20000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 2.1+ MB
None

In [35]:


xx=df1["transaction_date"].dt.strftime("%d-%m-%Y")

print(xx)

z=pd.DataFrame(columns=["dummy"])

z["dummy"]=pd.to_datetime(xx)

0        25-02-2017
1        21-05-2017
2        16-10-2017
3        31-08-2017
4        01-10-2017
            ...
19995    24-06-2017
19996    09-11-2017
19997    14-04-2017
19998    03-07-2017
19999    22-09-2017
Name: transaction_date, Length: 20000, dtype: object

/tmp/ipykernel_32/2005306844.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  z["dummy"]=pd.to_datetime(xx)

In [36]:
z

           dummy
0     2017-02-25
1     2017-05-21
2     2017-10-16
3     2017-08-31
4     2017-01-10
...          ...
19995 2017-06-24
19996 2017-09-11
19997 2017-04-14
19998 2017-03-07
19999 2017-09-22

[20000 rows x 1 columns]